<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Reestablecer contrase침a</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0; padding: 0; background-color: #f4f4f4;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #f4f4f4;">
    <tr>
      <td align="center">
        <!-- Contenedor principal -->
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; background-color: #ffffff; margin: 20px auto; padding: 20px; border-radius: 8px; font-family: Arial, sans-serif;">
          <tr>
            <td align="center" style="padding: 20px;">
              <img src="cid:logo_empresa" alt="Logo Empresa" width="200" style="display: block; margin-bottom: 20px;" />
              <h1 style="margin: 0; color: #333;">Hola de nuevo {{name}}  游녦</h1>
            </td>
          </tr>
          <tr>
            <td style="padding: 20px; text-align: center;">
              <p style="font-size: 16px; color: #555;">Solicitaste el reestablecimiento de tu contrase침a </p>
              <p style="font-size: 16px; color: #555;">Para poder reestablecer tu contrase침a accede en el boton de abajo:</p>
              <a href="{{resetLink}}" style="display: inline-block; margin-top: 20px; padding: 12px 24px; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 4px; font-weight: bold;">Reestablecer contrase침a</a>
            </td>
          </tr>
          <tr>
            <p style="font-size: 16px; color: #555;">Si no solicitaste el cambio de contrase침a haz caso omiso de este correo</p>
          </tr>
          <tr>
            <td align="center" style="padding: 20px; font-size: 12px; color: #888;">
              춸 2025 SAMAR-TECHNOLOGIES. Todos los derechos reservados.
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
